/node_modules
/public/
/storage/
/vendor
.env
.env.test
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
/config/
/app/services/
/database/
/resources/
/tests/

